.App {
  text-align: center;
}

.email {
  display: flex !important;
  justify-content: space-around !important;
  margin: 10px !important;
  padding: 5px !important;
}
.password {
  display: flex !important;
  justify-content: space-around !important;
  margin: 10px !important;
  padding: 5px !important;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
  padding: 5px;
}
.main-content {
  margin: auto;
  display: flex;
  padding: 0px 70px 0px 70px;
}
.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}
.page-title {
  color: #da896a;
  font-family: gilroy-bold;
  letter-spacing: 2px;
}
.page-title a {
  text-decoration: none;
  color: #70a9ff;
  font-family: gilroy-bold;
  letter-spacing: 2px;
  text-decoration: underline;
}
.page-title a:hover {
  color: #da896a;
  font-family: gilroy-bold;
}
.primary-button {
  width: 140px !important;
  height: 45px !important;
  font-family: 'Roboto', sans-serif !important;
  font-size: 11px !important;
  text-transform: uppercase !important;
  letter-spacing: 2.5px !important;
  font-weight: 500 !important;
  color: #fff !important;
  background-color: #1f1f1f !important;
  border: none !important;
  border-radius: 45px !important;
  box-shadow: -3px -2px 5.5px -1.5px rgb(218 137 106) !important;
  transition: all 0.3s ease 0s !important;
  cursor: pointer !important;
  outline: none !important;
  margin: 30px !important;
  padding: 5px !important;
}

.primary-button:hover {
  box-shadow: 3px 2px 5.5px -1.5px rgb(218 137 106) !important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #da896a !important;
}

.MuiInput-underline:before {
  border-bottom: 2px solid #72564b !important;
}

.MuiInputBase-input {
  color: #da896a !important;
}

@media only screen and (max-width: 512px) {
  .login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
  .main-content {
    margin: auto;
    display: flex;
    padding: 0px 70px 0px 70px;
  }
}
